<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093399362978-vqv448tee09h58e1m0h967q98lte94aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093399362978-vqv448tee09h58e1m0h967q98lte94aj</string>
	<key>API_KEY</key>
	<string>AIzaSyCA2h_EwnM9CV7uzeHz_VApQBUy6DcbSg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1093399362978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.mitra.MitraRuma</string>
	<key>PROJECT_ID</key>
	<string>mitraruma-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>mitraruma-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093399362978:ios:54b6736118b33adef086fb</string>
</dict>
</plist>